{% extends 'common/userpublic.html' %}
{% load static %}

        {% block head %}
        <script src="{% static 'js/area.js' %}"></script>
        {% endblock %}


        {% block header %}
            新增收货地址
        {% endblock %}

        {% block body %}
        <form action="" method="post">
        {% csrf_token %}
            <div style="height: 60px;"></div>
            <ul class="address">
                <li>
                    <input type="text" class="add-input" placeholder="省/市" />
{#                    <i class="am-icon-angle-right" style="float: right; margin-top: 5px;"></i>#}
                </li>
                <li>
                    <input type="text" class="add-input"  placeholder="区/县" />
{#                    <i class="am-icon-angle-right" style="float: right; margin-top: 5px;"></i>#}
                </li>
                <li><input type="text" class="add-input" placeholder="详细地址" /></li>
                <li><input type="text" class="add-input" placeholder="收货人" /></li>
                <li><input type="text" class="add-input" placeholder="手机号" /></li>
            </ul>
            <div class="moren">
                <label class="am-checkbox am-warning">
                     <input type="checkbox" checked="checked" value="" data-am-ucheck checked>设为默认
                </label>
            </div>
            <input type="button" class="login-btn" value="确认提交">
        </form>
        {% endblock %}

        {% block foot %}
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/amazeui.min.js' %}"></script>
        {% endblock %}


