{% extends 'common/userpublic.html' %}
{% load static %}
        {% block head %}
        <link href="{% static 'css/check.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}


        {% block header %}
        修改密码
        {% endblock %}

        {% block body %}
         <form action="" method="post">
         {% csrf_token %}
            <div style="height: 49px;"></div>
            <input type="password" name="password" placeholder="旧密码" class="login-password" value="{{ data.password }}">
             <p>{{ form.errors.password.0 }}</p>
            <input type="password" name="new_password" placeholder="新密码" class="login-name" value="{{ data.new_password }}">
             <p>{{ form.errors.new_password.0 }}</p>
            <input type="password" name="repassword" placeholder="确认新密码" class="login-password" value="{{ data.repassword }}">
             <p>{{ form.errors.repassword.0 }}</p>
            <input type="submit" class="login-btn" value="确认">
         </form>
        {% endblock %}
