{% extends 'common/userpublic.html' %}
{% load static %}
        {% block head %}
        <link href="{% static 'css/check.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}


        {% block header %}
        修改密码
        {% endblock %}

        {% block body %}
         <form action="" method="post">
         {% csrf_token %}
            <div style="height: 49px;"></div>
            <input type="text" name="mobile" placeholder="旧密码" class="login-password">
            <input type="text" name="mobile" placeholder="新密码" class="login-name">
            <input type="text" name="mobile" placeholder="确认新密码" class="login-password">
            <input type="submit" class="login-btn" value="确认">
         </form>
        {% endblock %}
