{% extends 'common/goodspublic.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/date.js' %}"></script>
    <script src="{% static 'js/iscroll.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#beginTime').date();
            $('#endTime').date({theme: "datetime"});
        });
    </script>
{% endblock %}
{% block title %}
    确认支付
{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">确认订单</a>
        </h1>
    </header>
{% endblock %}

{% block content %}
    <form method="get" action="{% url 'orders:支付' %}">
        <div style="height: 49px;"></div>
        <h5 class="order-tit">收货人信息</h5>
        <div class="order-name">
            <a href="javascript:;">
                <p class="order-tele">{{ order.username }}&nbsp;&nbsp;&nbsp;{{ order.phone }}</p>
                <p class="order-add">{{ order.address }}</p>
            </a>
            {#    <i class="am-icon-angle-right"></i>#}
        </div>
        <div style="background: #eee; height: 10px;"></div>
        <h5 class="order-tit">确认订单信息</h5>
        <ul class="shopcart-list" style="padding-bottom: 0; margin-top: 0;">
            {% for goods in order_goods %}
                <li>
                    <img src="{{ MEDIA_URL }}{{ goods.goods_sku.LOGO }}" class="shop-pic"/>
                    <div class="order-mid">
                        <div class="tit">{{ goods.goods_sku.spu.spu_name }} {{ goods.goods_sku.sku_name }}</div>
                        <div class="order-price">￥{{ goods.price }} <i>X{{ goods.count }}</i></div>
                    </div>
                </li>
            {% endfor %}

        </ul>
        <ul class="order-infor">
            <li class="order-infor-first">
                <span>商品总计：</span>
                <i>￥{{ order.order_price }}</i>
            </li>
            <li class="order-infor-first">
                <span>运费：</span>
                <i>{{ order.transport }}-￥{{ order.transport_price }}</i>
            </li>
            <li class="order-infor-first">
                <a href="integral.html">积分抵费></a>
            </li>
            <li class="order-infor-first">
                <a href="yhq.html">选择优惠券></a>
            </li>
        </ul>
        <!--<div style="background: #eee; height: 10px;"></div>

        <input id="beginTime" class="select-time" placeholder="请选择配送时间 >" /></div>
        <div id="datePlugin"></div>-->
        <div style="background: #eee; height: 10px;"></div>
        <textarea placeholder="备注说明" class="bz-infor">{{ order.comment }}</textarea>
        <div style="background: #eee; height: 10px;"></div>
        <div style="height: 55px;"></div>
        <div class="shop-fix">
            <div class="order-text">
                应付总额：<span>￥{{ order.pay_money }}</span>
            </div>
            <input type="hidden" name="number" value="{{ order.number }}">
            <input type="submit" class="js-btn" value="确认支付">
        </div>
    </form>
{% endblock %}

{% block foot_js %}

{% endblock %}


